<app-navigation-bar></app-navigation-bar>
<div class="document notes-document">
    <div class="notes-sidebar-nav">
        <a class="nav-link" href="html-tutorial"><span class="button-text">Home</span></a>
        <a class="nav-link" href="html-tutorial#introduction"><span class="button-text">Introduction</span></a>
        <a class="nav-link" href="html-tutorial#html-layouts"><span class="button-text">HTML Layouts</span></a>
        <a class="nav-link" href="html-tutorial#doctype-html"><span class="button-text">!DOCTYPE html</span></a>
        <a class="nav-link" href="html-tutorial#html-entities"><span class="button-text">HTML Entities</span></a>
        <a class="nav-link" href="html-tutorial#logical-physical-tags"><span class="button-text">Logical/Physical Tags</span></a>
        <a class="nav-link" href="html-tutorial#headings"><span class="button-text">Headings</span></a>
        <a class="nav-link" href="html-tutorial#text-formatting"><span class="button-text">Text Formatting</span></a>
        <a class="nav-link" href="html-tutorial#semantics"><span class="button-text">Semantics</span></a>
        <a class="nav-link" href="html-tutorial#links"><span class="button-text">Links</span></a>
        <a class="nav-link" href="html-tutorial#images"><span class="button-text">Images</span></a>
        <a class="nav-link" href="html-tutorial#videos"><span class="button-text">Videos</span></a>
        <a class="nav-link" href="html-tutorial#lists"><span class="button-text">Lists</span></a>
        <a class="nav-link" href="html-tutorial#tables"><span class="button-text">Tables</span></a>
        <a class="nav-link" href="html-tutorial#span"><span class="button-text">Span</span></a>
        <a class="nav-link" href="html-tutorial#block-table-elements"><span class="button-text">Block/ Inline Elements</span></a>
        <a class="nav-link" href="html-tutorial#input"><span class="button-text">Input</span></a>
        <a class="nav-link" href="html-tutorial#iframe"><span class="button-text">iFrame</span></a>
        <a class="nav-link" href="html-tutorial#svg"><span class="button-text">Svg</span></a>
        <a class="nav-link" href="html-tutorial#form"><span class="button-text">Form</span></a>
        <a class="nav-link" href="html-tutorial#style"><span class="button-text">Style</span></a>
        <a class="nav-link" href="html-tutorial#script"><span class="button-text">Script</span></a>
        <a class="nav-link" href="html-tutorial#html-xhtml"><span class="button-text">HTML vs XHTML</span></a>
        <a class="nav-link" href="html-tutorial#html5"><span class="button-text">HTML 5</span></a>
    </div>
    <div class="body">
        <hr>
        <h1 class="subject-title">&nbsp;HTML</h1>
        <hr>

        <div class="section-body" id="introduction">
            <div class="section-content">
                <h2 class="section-title"><u>Introduction</u></h2>
                <p>HTML stands for Hyper Text Markup Language. It is a standard formatting language which is used to create and display web pages.</p>
                <div class="space"></div>
            </div>
        </div>
        <hr>

        <div class="section-body" id="html-layouts">
            <div class="section-content">
                <h2 class="section-title"><u>HTML Layouts</u></h2>
                <p>Basic layout is head and body.</p>
                <p>Other layout elements - header, nav, section, article, aside, footer, details, summary</p>
                <p>Layout techniques - HTML tables, CSS Float property, CSS Flexbox, CSS framework, CSS grid</p>
                <div class="space"></div>
            </div>    
        </div>
        <hr>

        <div class="section-body" id="doctype-html">
            <div class="section-content">
                <h2 class="section-title"><u>!DOCTYPE html</u></h2>
                <p>This is not an html tag. It is an instruction to the web browser about what version of HTML the page is written in. This is instruction for HTML5.</p>
                <div class="space"></div>
            </div>
        </div>
        <hr>

        <div class="section-body" id="html-entities">
            <div class="section-content">
                <h2 class="section-title"><u>HTML Entities</u></h2>
                <p>HTML has some reserved characters. For example, "&gt;" is greater than with "&" + "gt" + ";"</p>
                <div class="space"></div>
            </div>
        </div>
        <hr>

        <div class="section-body" id="logical-physical-tags">
            <div class="section-content">
                <h2 class="section-title"><u>Logical tags vs Physical tags - MORE TO COME</u></h2>
                <p>Logical tags are used to tell the meaning of an encolsed text. Physical tags are for browser to know how to display the enclosed text. </p>
                <div class="space"></div>
            </div>
        </div>
        <hr>

        <div class="section-body" id="headings">
            <div class="section-content">
                <h2 class="section-title"><u>Headings</u></h2>
                <h1>This is h1 tag which is heading 1</h1>
                <h2>This is h2 tag which is heading 2</h2>
                <h3>This is h3 tag which is heading 3</h3>
                <h4>This is h4 tag which is heading 4</h4>
                <h5>This is h5 tag which is heading 5</h5>
                <h6>This is h6 tag which is heading 6</h6>
                <div class="space"></div>
            </div>
        </div>
        <hr>

        <div class="section-body" id="text-formatting">
            <div class="section-content">
                <h2 class="section-title"><u>Text formatting</u></h2>
                <b>This is b tag which is bold</b><br>
                <i>This is i tag which is italics</i><br>
                This is <small>small</small> tag which is smaller font<br>
                This is <sup>super</sup> tag which is superscript<br>
                This is <sub>sub</sub> tag which is subscript<br>
                <div class="space"></div>
            </div>
        </div>
        <hr>

        <div class="section-body" id="semantics">
            <div class="section-content">
                <h2 class="section-title"><u>Semantics</u></h2>
                <p>A semantic element clearly describes its meaning to both the browser and the developer like &lt;table&gt;</p>
                <p>&lt;div&gt; and &lt;span&gt; are non-semantic elements.</p>
                <p>Semantic elements: </p>
                <ul>
                    <li>&lt;article&gt;</li>
                    <li>&lt;aside&gt;</li>
                    <li>&lt;details&gt;</li>
                    <li>&lt;figcaption&gt;</li>
                    <li>&lt;figure&gt;</li>
                    <li>&lt;footer&gt;</li>
                    <li>&lt;header&gt;</li>
                    <li>&lt;main&gt;</li>
                    <li>&lt;mark&gt;</li>
                    <li>&lt;nav&gt;</li>
                    <li>&lt;section&gt;</li>
                    <li>&lt;summary&gt;</li>
                    <li>&lt;time&gt;</li>
                </ul>
                <div class="space"></div>
            </div>
        </div>
        <hr>

        <div class="section-body" id="links">
            <div class="section-content">
                <h2 class="section-title"><u>Links, Anchor tags a</u></h2>
                <p>To create hyperlinks on text</p>
                <a href= "https://www.google.com" target = "_blank">Google with target _blank opens in new tab</a><br>
                <a href= "https://www.google.com" target = "_parent">Google with target _parent opens in same frame --> DEFAULT</a><br>
                <a href= "https://www.google.com" target = "_self">Google with target _self opens in parent frame</a><br>
                <a href= "https://www.google.com" target = "_top">Google with target _top opens in full body of window</a><br><br>
                <b style="color: blue;">NOTE: Hyperlinks can also be applied to images</b>
                <p>To create a clickable link to send an email, mailto command need to be used in href as href = "mailto:youremailaddress"</p>
                <a href="mailto:np1goal@gmail.com">Contact me</a><br>
                <p>To create a clickable link to send an email with a message, mailto command need to be used in href as href = "mailto:someone@example.com?cc=someoneelse@example.com&bcc=andsomeoneelse@example.com&subject=Summer%20Party&body=You%20are%20invited%20to%20a%20big%20summer%20party!"</p>
                <a href="mailto:someone@example.com?cc=someoneelse@example.com&bcc=andsomeoneelse@example.com&subject=Summer%20Party&body=You%20are%20invited%20to%20a%20big%20summer%20party!" target="_top">Send mail!</a><br>
                <p>To create a clickable link to make a call, tel command need to be used in href as href = "tel:+407-800-3748"</p>
                <a href="tel:+4733378901">+47 333 78 901</a>
                <p>To create a clickable link to go to a section of page or create a bookmark on the page, use # in href as href = "#top"</p>
                <a href="html-tutorial/#top">Go to top</a>
                <p>To create a clickable link to run a javascript function, use javascript command in href as href = "javascript:alert('Hello World!');"</p>
                <a href="javascript:alert('Hello World!');">Execute JavaScript</a>
                <div class="space"></div>
            </div>
        </div>
        <hr>

        <div class="section-body" id="images">
            <div class="section-content">
                <h2 class="section-title"><u>Images</u></h2>
                <img src="images/me.jpg" alt="This is me">
                <div class="space"></div>
            </div>
        </div>
        <hr>

        <div class="section-body" id="videos">
            <div class="section-content">
                <h2 class="section-title"><u>Videos</u></h2>
                <video width="600px" controls autoplay>
                    <source src="bg.mp4" type="video/mp4">
                    Your browser does not support the video tag.
                </video>
                <div class="space"></div>
            </div>
        </div>
        <hr>

        <div class="section-body" id="lists">
            <div class="section-content">
                <h2 class="section-title"><u>Lists</u></h2>
                <h4><u> Unordered list</u></h4>
                <ul>
                    <li>Apple</li>
                    <li>Orange</li>
                    <li>Mango</li>
                </ul>

                <h4><u> Ordered list with type attribute</u></h4>
                <ol type="i">
                    <li>Green</li>
                    <li>Red</li>
                    <li>Blue</li>
                </ol>

                <h5>Reversed attribute</h5>
                <ol type="I" reversed>
                        <li>Green</li>
                        <li>Red</li>
                        <li>Blue</li>
                </ol>
                <h5>Start attribute</h5>
                <ol type="1" start="7">
                    <li>Green</li>
                    <li>Red</li>
                    <li>Blue</li>
                </ol>
                <ol type="a">
                    <li>Green</li>
                    <li>Red</li>
                    <li>Blue</li>
                </ol>
                <ol type="A">
                    <li>Green</li>
                    <li>Red</li>
                    <li>Blue</li>
                </ol>

                <h4><u> Description list (dl) with decription terms (dt + dd)</u></h4>
                <dl>
                    <dt>Green</dt>
                    <dd>This is green color</dd>
                    <dt>Red</dt>
                    <dd>This is green color</dd>
                    <dt>Blue</dt>
                    <dd>This is green color</dd>
                </dl>
                <b style="color: blue;">NOTE: dl is Description list in HTML5, it was Definition list in HTML4</b>
                <div class="space"></div>
            </div>
        </div>
        <hr>

        <div class="section-body" id="tables">
            <div class="section-content">
                <h2 class="section-title"><u>Tables</u></h2>
                <h4><u>Table - caption, th, tr, td</u></h4>
                <p>cellspacing = 10 and cellpadding = 5 is used as attribute in table. cellspacing creates space between cells and cellpadding creates space between cell content and cell border.</p>
                <table border cellspacing=10 cellpadding=5 style="border: solid;">
                        <tr style = "color: red; border: solid;">
                            <th style="border: solid;">th - col heading</th>
                            <th style="border: solid;">th - col heading</th>
                            <th style="border: solid;">th - col heading</th>
                        </tr>
                        <tr style="border: solid;">
                            <td colspan="2" style="border: solid blue;">R1C1 with colspan = "2" attribute</td>
                            <td style="border: solid;">R1C3</td>
                        </tr>
                        <tr style="border: solid;">
                            <td style="border: solid;">R2C1</td>
                            <td style="border: solid;">R2C2</td>
                            <td style="border: solid;">R2C3</td>
                        </tr>
                    </table>
                <b style="color: blue;">NOTE: Usually the text is wrapped on a web page and will never overflow. But if there is text in table cell with a defined width, the text could extend beyond browser window.</b>

                <h4><u>Table - thead(tr + th), tbody(tr + td), tfoot(tr + td)</u></h4>
                <table>
                    <thead style="color: red;">
                        <tr>
                            <th>Name</th>
                            <th>Salary</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Nishtha</td>
                            <td>90,000</td>
                        </tr>
                        <tr>
                            <td>Aditi</td>
                            <td>900,000</td>
                        </tr>
                    </tbody>
                    <tfoot style="color: green;">
                        <tr>
                            <td>Total</td>
                            <td>990,000</td>
                        </tr>
                    </tfoot>
                </table>
                <div class="space"></div>
            </div>
        </div>
        <hr>

        <div class="section-body" id="span">
            <div class="section-content">
                <h2 class="section-title"><u>Span</u></h2>
                <p>It is used for adding color on text, background to text or highlight text.</p>
                <div class="space"></div>
            </div>
        </div>  
        <hr>

        <div class="section-body" id="block-inline-elements">
            <div class="section-content">
                <h2 class="section-title"><u>Block elements vs Inline elements</u></h2>
                <h4><u>Block elements</u></h4>
                <p><b>div, h1-h6, form, header, footer, section</b> are block elements as they take up the whole width of the browser.</p>
                <p>Example</p>
                <div style = "background-color: yellow;">This is first div</div>
                <div style = "background-color: green;">This is second div</div>

                <h4><u>Inline elements</u></h4>
                <p><b>span, a, img</b> are inline elements as they DO NOT take up the whole width of the browser.</p>
                <p>Example</p>
                <span style = "background-color: yellow;">This is first span</span>
                <span style = "background-color: green;">This is second span</span>
                <div class="space"></div>
            </div>
        </div>
        <hr>

        <div class="section-body" id="input">
            <div class="section-content">
                <h2 class="section-title"><u>Input tags</u></h2>
                <h4><u>Attribute = button, value = Click me!, onClick = alert()</u></h4>
                <input type="button" value="Click me!" onClick="alert('Hello you!');">

                <h4><u>Attribute = checkbox, followed by label tag</u></h4>
                <input type="checkbox" id ="vehicle1" name="vehicle1" value="Bike"><label>Bike</label><br>
                <input type="checkbox" id ="vehicle2" name="vehicle2" value="Car"><label>Car</label><br>
                <input type="checkbox" id ="vehicle3" name="vehicle3" value="Train"><label>Train</label><br>

                <h4><u>Attribute = color for color picker</u></h4>
                <input type="color" value="Click me!">

                <h4><u>Attribute = date, (mm,dd,yyyy)</u></h4>
                <input type="date" value="Click me!">

                <h4><u>Attribute = datetime-local, (mm,dd,yyy,tttt)</u></h4>
                <input type="datetime-local" value="Click me!">

                <h4><u>Attribute = email, OPTIONAL -- Add multiple attribute to accept multiple email addresses seperated by comma</u></h4>
                <input type="email" value="Click me!">

                <h4><u>Attribute = file, lets you select file from browser</u></h4>
                <input type="file">

                <h4><u>Attribute = hidden, hidden input field</u></h4>
                <input type="hidden" value="Click me!">

                <h4><u>Attribute = image, image as submit button</u></h4>
                <input type="image" src="img_submit.gif" alt="Submit" width="48" height="48">

                <h4><u>Attribute = month, (mm,yyyy)</u></h4>
                <input type="month" value="Click me!">

                <h4><u>Attribute = number, only number</u></h4>
                <input type="number" value="Click me!">

                <h4><u>Attribute = radio, radio buttons</u></h4>
                <input type="radio" id="male" name="gender" value="male">
                <label for="male">Male</label><br>
                <input type="radio" id="female" name="gender" value="female">
                <label for="female">Female</label><br>

                <h4><u>Attribute = password, password protected field</u></h4>
                <input type="password">

                <h4><u>Attribute = range</u></h4>
                <input type="range">

                <h4><u>Attribute = reset, resets all initial values</u></h4>
                <input type="reset">

                <h4><u>Attribute = search, search bar</u></h4>
                <input type="search">

                <h4><u>Attribute = submit</u></h4>
                <input type="submit">

                <h4><u>Attribute = tel, Telephone entry</u></h4>
                <input type="tel">

                <h4><u>Attribute = text</u></h4>
                <input type="text" value="Enter text here">
                <p> The defualt size of text field is 13 characters. It can be as low as 1 and as high as the width of browser.</p>

                <h4><u>Attribute = time, time (no time zone)</u></h4>
                <input type="time">

                <h4><u>Attribute = url, url field</u></h4>
                <input type="url">

                <h4><u>Attribute = week, (week, year)</u></h4>
                <input type="week">
                <div class="space"></div>
            </div>
        </div>
        <hr>

        <div class="section-body" id="iframe">
            <div class="section-content">
                <h2 class="section-title"><u>iframe</u></h2>
                <iframe src="https://cors.io/"><p>Your browser does not support iframes.</p></iframe>
                <p>This creates a nested web page which means displaying a web page inside a web page.</p>
                <div class="space"></div>
            </div>
        </div>
        <hr>

        <div class="section-body" id="image-maps">
            <div class="section-content">
                <h2 class="section-title"><u>Image maps - MORE TO COME</u></h2>
                <p> Creating images with clickable areas.</p>
                <div class="space"></div>
            </div>
        </div>
        <hr>

        <div class="section-body" id="svg">
            <div class="section-content">
                <h2 class="section-title"><u>Svg tag - MORE TO COME</u></h2>
                <p> svg stands for Scalable Vector Graphics. It is used for graphics like circle, rectangle, polygons, blus effect, shadow effect etc. </p>
                <div class="space"></div>
            </div>        
        </div>
        <hr>

        <div class="section-body" id="form">
            <div class="section-content">
                <h2 class="section-title"><u>Form tag - MORE TO COME</u></h2>
                <p>FORMS</p>
                <div class="space"></div>
            </div>
        </div>
        <hr>

        <div class="section-body" id="style">
            <div class="section-content">
                <h2 class="section-title"><u>Style tag</u></h2>
                <p> Style tag is used to add styling of elements. </p>
                <p>CSS styling can be applied in form of inline styling, external stylesheet styling or using style block.</p>
                <div class="space"></div>
            </div>
        </div>
        <hr>

        <div class="section-body" id="script">
            <div class="section-content">
                <h2 class="section-title"><u>Script tag</u></h2>
                <p>Script tag is used to add scripting to elements.</p>
                <p>Scripting can be applied in form of inline scripting, external file scripting or using script block.</p>
                <div class="space"></div>
            </div>
        </div>
        <hr>

        <div class="section-body" id="html-xhtml">
            <div class="section-content">
                <h2 class="section-title"><u>HTML vs XHTML - MORE TO COME</u></h2>
                <p>HTML is used for static web page development and XHTML is used for dynamic web page development.</p>
                <div class="space"></div>
            </div>
        </div>
        <hr>

        <div class="section-body" id="html5">
            <div class="section-content">
                <h2 class="section-title"><u>What's new in HTML5? - MORE TO COME</u></h2>
                <p>HTML5</p>
                <div class="space"></div>
            </div>
        </div>

        <div class="section-body" id="html5">
            <div class="section-content">
                <h2 class="section-title"><u>Questions</u></h2>
                <ul>
                    <li>What to check if code does not work?</li>
                    <ul>
                        <li>Some tag has not been closed.</li>
                        <li>Some special characters need to have entities.</li>
                    </ul>
                </ul>
                <div class="space"></div>
            </div>
        </div>
        <hr>
    </div>
</div>