<div class="document" id="home-document">
    <div id="welcome-section">
        <div id="welcome-message">
                <button id="back-button" mat-raised-button (click)="switchToOptions();"><mat-icon>arrow_backward</mat-icon></button>
            <h1>Welcome to Nishtha's Tutorial</h1>
            <p>What's your plan today?</p>
        </div>
    </div>
    <div id="activity">
        <div id="notes-quiz-option">
            <div id="notes-option"><button class="note-quiz-buttons" mat-raised-button (click)="switchToList();">Notes</button></div>
            <div id="quiz-option"><button class="note-quiz-buttons" mat-raised-button routerLink="quiz">Quiz</button></div>
        </div>
        <div id="notes-list">
            <button class="notes-list-button" mat-raised-button routerLink="html-tutorial">HTML</button>
            <button class="notes-list-button" mat-raised-button routerLink="css-tutorial">CSS</button>
            <button class="notes-list-button" mat-raised-button routerLink="scss-sass-tutorial">SCSS/SASS</button>
            <button class="notes-list-button" mat-raised-button routerLink="javascript-tutorial">Javascript</button>
            <button class="notes-list-button" mat-raised-button routerLink="jsbom-tutorial">Javascript BOM</button>
            <button class="notes-list-button" mat-raised-button routerLink="jsdom-tutorial">Javascript DOM</button>
            <button class="notes-list-button" mat-raised-button routerLink="jsjson-tutorial">Javascript JSON</button>
            <button class="notes-list-button" mat-raised-button routerLink="ajax-tutorial">Ajax</button>
            <button class="notes-list-button" mat-raised-button routerLink="jquery-tutorial">jQuery</button>
            <button class="notes-list-button" mat-raised-button routerLink="angular8-tutorial">Angular 8</button>
            <button class="notes-list-button" mat-raised-button routerLink="nodejs-tutorial">Node.js</button>
            <button class="notes-list-button" mat-raised-button routerLink="threejs-tutorial">Three.js</button>
        </div>
    </div>
    <div class="box">
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
    </div>
    
</div>

